.github/* @Revathyvenugopal162 @SMoraisAnsys @StefanThoene

src/ansys/speos/core/*.py @StefanThoene @pluAtAnsys @echambla @jomadec
src/ansys/speos/core/generic/**/*.py @StefanThoene @pluAtAnsys @echambla @jomadec
src/ansys/speos/core/workflow/**/*.py @StefanThoene @pluAtAnsys @echambla @jomadec
src/ansys/speos/core/kernel/**/*.py @etiennearnal @echambla @jomadec
