name: Nightly

on:
  workflow_dispatch:
  schedule:  # UTC at 0300
    - cron:  '0 3 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  testing:
    name: Testing and coverage
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        speos-version: ["251", "252", "dev", "2025.2.4.35476"]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Installing OS packages
        shell: bash
        run: |
          sudo apt-get update
          sudo apt install -y libgl1 libglx-mesa0 xvfb libgomp1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create Python virtual environment
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -c "import sys; print(sys.executable)"

      - name: Install packages for testing
        run: |
          . .venv/bin/activate
          python -m pip install --upgrade pip
          pip install --upgrade build wheel
          pip install .[tests]

      - name: Login to GitHub Packages
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io/ansys
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start container for Speos ${{ matrix.speos-version }}
        env:
          ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}
        run: |
          speos_version=${{ matrix.speos-version }}

          if [[ "$speos_version" == "251" ]]; then
            docker run --detach --name speos-rpc -p 127.0.0.1:50098:50098 -e SPEOS_LOG_LEVEL=2 -e ANSYSLMD_LICENSE_FILE=${{ env.ANSYSLMD_LICENSE_FILE }} -v "${{ github.workspace }}/tests/assets:/app/assets" --entrypoint /app/SpeosRPC_Server.x ghcr.io/ansys/speos-rpc:$speos_version -m 25000000
          elif [[ "$speos_version" == "252" ]]; then
            docker run --detach --name speos-rpc -p 127.0.0.1:50098:50098 -e SPEOS_LOG_LEVEL=2 -e ANSYSLMD_LICENSE_FILE=${{ env.ANSYSLMD_LICENSE_FILE }} -v "${{ github.workspace }}/tests/assets:/app/assets" --entrypoint /app/SpeosRPC_Server.x ghcr.io/ansys/speos-rpc:$speos_version -m 25000000 --host 0.0.0.0
          elif [[ "$speos_version" == "dev" ]]; then
            docker run --detach --name speos-rpc -p 127.0.0.1:50098:50098 -e SPEOS_LOG_LEVEL=2 -e ANSYSLMD_LICENSE_FILE=${{ env.ANSYSLMD_LICENSE_FILE }} -v "${{ github.workspace }}/tests/assets:/app/assets" --entrypoint /app/SpeosRPC_Server.x ghcr.io/ansys/speos-rpc:$speos_version -m 25000000 --host 0.0.0.0
          elif [[ "$speos_version" == "2025.2.4.35476" ]]; then
            docker run --detach --name speos-rpc -p 127.0.0.1:50098:50098 -e SPEOS_LOG_LEVEL=2 -e ANSYSLMD_LICENSE_FILE=${{ env.ANSYSLMD_LICENSE_FILE }} -v "${{ github.workspace }}/tests/assets:/app/assets" --entrypoint /app/SpeosRPC_Server.x ghcr.io/ansys/speos-rpc:$speos_version -m 25000000 --transport_insecure --host 0.0.0.0
          fi

      - name: Run pytest for Speos ${{ matrix.speos-version }}
        run: |
          . .venv/bin/activate
          speos_version=${{ matrix.speos-version }}
          maximal_absolute=999

          if [[ "$speos_version" == "dev" ]]; then
            echo "run pytest for all available features"
            xvfb-run pytest -s --supported-features=$maximal_absolute
          else
            echo "run pytest for Speos ${speos_version} supported features"
            xvfb-run pytest -s --supported-features=$speos_version
          fi

      - name: Upload Coverage Results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: .cov/html
          name: coverage-html-ubuntu-${{ matrix.python-version }}-${{ matrix.speos-version }}
          retention-days: 7

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: .cov/xml
          name: coverage-html-ubuntu-${{ matrix.python-version }}-${{ matrix.speos-version }}

      - name: Stop container
        run: |
          docker kill speos-rpc
          docker rm speos-rpc
